@using Vtorproekt.Models;
@model IEnumerable<Vtorproekt.Models.Bale>

@{
    ViewData["Title"] = "Index";
}

<h1>Реестр всех тюков / бэгов</h1>
<p>
    Сотруднику выдаются карточки тюков. <br />
    Каждый тюк именной.<br />
    После завершения прессования тюка сотрудник крепит на него карточку
</p>
<p class="text-center">
    <b> Добавить</b>
    <a asp-action="Create"><img src="/ico/add1.png" class="icon" /></a>

</p>
<table class="table">
    <thead>
        <tr class="table-header">
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.BaleId)
            </th>

            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>

            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Material.MaterialName)
            </th>

            <th class="col-md-1">
                Вес тюка/бэга
            </th>

            <th class="col-md-1">
                Готов/не готов
            </th>

            <th class="col-md-3">
                Действия с тюком
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {   
            <tr>
                <td>
                    @item.BaleId

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Material.MaterialName)
                </td>

                <td class="col-md-2">
                    @foreach (Production production in ViewBag.Production)
                    {
                        if (production.BaleId == item.BaleId)
                        {
                            @production.Weight
                        }
                    }

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.isReady)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.BaleId"><img src="/ico/edit2.png" class="icon"/></a> 
                    @*<a asp-action="Details" asp-route-id="@item.BaleId"><img src="/ico/info1.png" class="icon"/></a> *@
                    <a asp-action="Delete" asp-route-id="@item.BaleId"><img src="/ico/delete2.png" class="icon"/></a>
                </td>

            </tr>
        }
    </tbody>
</table>

<style>

    img {
        height: calc(15px + 1vw);
        margin-right:5px;
        width: auto;
    }

    .table {
        width: 70%;
    }

</style>