@model IEnumerable<Vtorproekt.Models.Bale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material.MaterialName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                   @item.BaleId

                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.MaterialName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BaleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BaleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BaleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>