@model Vtorproekt.Models.Tax

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tax</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTax)
        </dt>
        <dd class = "col-sm-10">
            @Model.DateTax
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkType.WorkTypeName)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Multi1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Multi1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Multi2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Multi2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Multi3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Multi3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
