@using Vtorproekt.Models;
@model IEnumerable<Vtorproekt.Models.Tax>

@{
    ViewData["Title"] = "Тарифы";
}

<h2>Тарифы</h2>

<p>
    <b> Добавить</b>
    <a asp-action="Create"><img src="img/ico/add.png" class="icon" /></a>
</p>
<table class="table ">
    <thead>
        <tr class="table-header">
            <th>
                <a asp-action="Index" asp-route-sortOrder="@("Date_asc".Equals(ViewBag.SortOrder) ? "Date_desc" : "Date_asc")">
                    @Html.DisplayNameFor(model => model.DateTax)

                </a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@("WorkType_asc".Equals(ViewBag.SortOrder)?"WorkType_desc":"WorkType_asc" )">
                    @Html.DisplayNameFor(model => model.WorkTypeId)
                </a>


            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multi1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multi2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multi3)
            </th>
            <th> Действия с тарифом</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.DateTax.ToShortDateString()
                </td>
                <td>
                    @foreach (WorkType workType in ViewBag.WorkTypes)
                    {
                        if (workType.WorkTypeId == item.WorkTypeId)
                        {
                            @workType.WorkTypeName
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Limit1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Limit2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Limit3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Multi1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Multi2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Multi3)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaxId"><img src="img/ico/edit.png" class="icon" class="icon" /></a>
                    @*<a asp-action="Details" asp-route-id="@item.TaxId"><img src="img/ico/info.png" class="icon"class="icon"/></a>*@
                    <a asp-action="Delete" asp-route-id="@item.TaxId"><img src="img/ico/delete.png" class="icon" class="icon" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>

    img {
        height: calc(15px + 1vw);
        margin-right: 5px;
        width: auto;
    }

    .table {
        width: 124%;
    }

</style>

