@model IEnumerable<Vtorproekt.Models.Storage>

@{
    ViewData["Title"] = "Склады";
}

<h2>Склады</h2>

<p>
    <b> Добавить</b>
    <a asp-action="Create"><img src="img/ico/add.png" /></a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StorageAdress)
            </th>
            <th>
                 Действия со складом
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StorageAdress)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StorageId"><img src="img/ico/edit.png" /></a>
                    <a asp-action="Details" asp-route-id="@item.StorageId"><img src="img/ico/info.png" /></a>
                    <a asp-action="Delete" asp-route-id="@item.StorageId"><img src="img/ico/delete.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>

    img {
        height: calc(15px + 1vw);
        margin-right: 5px;
        width: auto;
    }

    .table {
        width: 50%;
    }

</style>