@using VtorP.Models;
@model VtorP.Models.Production

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Production</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductionId" />
            

            <div class="form-group">
                <label asp-for="BaleId" class="control-label">@Html.DisplayNameFor(model=>model.BaleId)</label>
                <select asp-for="BaleId" class="form-control">
                    @foreach (Bale bale in ViewBag.BaleEmpty)
                    {
                        <option value="@bale.BaleId"> @bale.BaleId - @bale.Material.MaterialNameStart (@bale.Employee.EmployeeName)</option>
                    }

                </select>

                <span asp-validation-for="BaleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StorageId" class="control-label">@Html.DisplayNameFor(model=>model.Storage.StorageId) </label>
                <select asp-for="StorageId" class="form-control">

                    @foreach (Storage storage in ViewBag.Storage)
                    {
                        <option value="@storage.StorageId">@storage.StorageAdress</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <label asp-for="ProduceDate" class="control-label">@Html.DisplayNameFor(model=>model.ProduceDate)</label>
                <input type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-for="ProduceDate" class="form-control" />
                <span asp-validation-for="ProduceDate" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
