@using Vtorproekt.Models;
@model IEnumerable<Vtorproekt.Models.Production>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTypeId)
            </th>
            <th>
                Кто произвел
            </th>
            <th>
                Что произвел
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProduceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BaleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkType.WorkTypeName)
                </td>
                <td>
                    @foreach (Bale bale in ViewBag.Bale)
                    {
                        if (bale.BaleId == item.BaleId)
                        {
                            @bale.Employee.EmployeeName
                        }
                    }

                </td>
                <td>
                    @foreach (Bale bale in ViewBag.Bale)
                    {
                        if (bale.BaleId == item.BaleId)
                        {
                            @bale.Material.MaterialName
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Storage.StorageAdress)
                </td>
                <td>
                    @item.ProduceDate)
                </td>
                <td>
                    @foreach (Tax tax in ViewBag.Tax)
                    {
                        if (tax.TaxId == item.TaxId)
                        {
                            @tax.TaxName
                            ;
                            <br />
                            @tax.TaxValue
                            ;
                            <slot>коп. </slot>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>

    table {
        text-align: center;
    }

        table td,tr {
            vertical-align: middle;
        }
</style>