@using VtorP.Models;
@model IEnumerable<VtorP.Models.Production>

@{
    ViewData["Title"] = "Журнал производства";
}

<h1>Журнал производства</h1>
<hr />
<p class="text-center">
    <b> Добавить</b>
    <a asp-action="Create"><img src="/ico/add1.png" class="icon" /></a>

</p>
<table class="table">
    <thead>
        <tr class="table-header">
            <th>№ тюка</th>
            <th>Вид работы</th>
            <th>Кто произвел</th>
            <th>Что произвел</th>
            <th>Вес тюка</th>
            <th>@Html.DisplayNameFor(model => model.Tax.TaxValue)</th>
            <th>Оплата</th>
            <th>@Html.DisplayNameFor(model => model.StorageId)</th>
            <th>@Html.DisplayNameFor(model => model.ProduceDate)</th>
            <th> Действия со строкой</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.BaleId)</td>

                <td>@Html.DisplayFor(modelItem => item.WorkType.WorkTypeName)</td>

                <td>
                    @foreach (Bale bale in ViewBag.Bale)
                    {
                        if (bale.BaleId == item.BaleId)
                        {
                            @bale.Employee.EmployeeName
                        }
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => item.Material.MaterialNameFinish)</td>

                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                    <slot>кг </slot>
                </td>


                <td>
                    @(item.Tax.TaxValue / 100)
                    <slot>руб. </slot>
                </td>

                <td>
                    @(item.Tax.TaxValue * item.Weight / 100)
                    <slot>руб. </slot>
                </td>



                
                <td>@Html.DisplayFor(modelItem => item.Storage.StorageAdress)</td>
                <td>@item.ProduceDate</td>

                <td>

                    <a asp-action="Edit" asp-route-id="@item.ProductionId"><img src="/ico/edit2.png" class="icon" /></a>
                    <a asp-action="Delete" asp-route-id="@item.ProductionId"><img src="/ico/delete2.png" class="icon" /></a>
                    @*     <a asp-action="Details" asp-route-id="@item.ProductionId"><img src="/ico/info1.png" class="icon"/></a>*@
                </td>

            </tr>
        }
    </tbody>
</table>

<style>

    table {
        width: 40%;
        text-align: center;
    }

        table td, tr {
            vertical-align: middle;
        }

    img {
        height: calc(15px + 1vw);
        margin-right: 5px;
        width: auto;
    }

</style>