@using Vtorproekt.Models;
@model IEnumerable<Vtorproekt.Models.Production>

@{
    ViewData["Title"] = "Журнал производства";
}

<h1>Журнал производства</h1>
<hr />
<p>
    <b> Добавить</b>
    <a asp-action="Create"><img src="img/ico/add.png" class="icon" /></a>
</p>
<table class="table">
    <thead>
        <tr class="table-header">
            <th>
                @Html.DisplayNameFor(model => model.BaleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTypeId)
            </th>
            <th>
                Кто произвел
            </th>
            <th>
                Что произвел
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProduceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxId)
            </th>
            <th> Действия со строкой</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BaleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkType.WorkTypeName)
                </td>
                <td>
                    @foreach (Bale bale in ViewBag.Bale)
                    {
                        if (bale.BaleId == item.BaleId)
                        {
                            @bale.Employee.EmployeeName
                        }
                    }

                </td>
                <td>
                    @foreach (Bale bale in ViewBag.Bale)
                    {
                        if (bale.BaleId == item.BaleId)
                        {
                            @bale.Material.MaterialName
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Storage.StorageAdress)
                </td>
                <td>
                    @item.ProduceDate
                </td>
                <td>
                    @foreach (Tax tax in ViewBag.Tax)
                    {
                        if (tax.TaxId == item.TaxId)
                        {
                            @tax.WorkTypeId
                            ;
                            <br />
                            @tax.TaxValue
                            ;
                            <slot>коп. </slot>
                        }
                    }
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.ProductionId"><img src="img/ico/edit.png" class="icon" /></a>
                    <a asp-action="Delete" asp-route-id="@item.ProductionId"><img src="img/ico/delete.png" class="icon" /></a>
                    @*     <a asp-action="Details" asp-route-id="@item.ProductionId"><img src="img/ico/info.png" class="icon"/></a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<style>

    table {
        width: 40%;
        text-align: center;
    }

        table td, tr {
            vertical-align: middle;
        }

    img {
        height: calc(15px + 1vw);
        margin-right: 5px;
        width: auto;
    }

</style>