@using VtorP.Models;
@model IEnumerable<VtorP.Models.Production>

@{
    ViewData["Title"] = "Журнал производства";
}

<h1>Журнал производства</h1>
<hr />
<p class="text-center">
    <b> Добавить</b>
    <a asp-action="Create"><img src="/ico/add1.png" class="icon" /></a>

</p>
<table class="table">
    <thead>
        <tr class="table-header">
            <th>@Html.DisplayNameFor(model => model.BaleId)</th>
            <th>@Html.DisplayNameFor(model => model.WorkType.WorkTypeName)</th>
            <th>Кто произвел</th>
            <th>Что произвел</th>
            <th>@Html.DisplayNameFor(model => model.Weight)</th>
            <th>@Html.DisplayNameFor(model => model.StorageId)</th>
            <th>@Html.DisplayNameFor(model => model.ProduceDate)</th>
            <th>@Html.DisplayNameFor(model => model.Tax.TaxValue)</th>
            <th>Оплата</th>
            <th> Действия со строкой</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.BaleId)</td>

                <td>@Html.DisplayFor(modelItem => item.WorkType.WorkTypeName)</td>

                <td>
                    @foreach (Bale bale in ViewBag.Bale)
                    {
                        if (bale.BaleId == item.BaleId)
                        {
                            @bale.Employee.EmployeeName
                        }
                    }
                </td>

                <td>
                    @foreach (Bale bale in ViewBag.Bale)
                    {
                        if (bale.BaleId == item.BaleId)
                        {
                            @bale.Material.MaterialNameStart
                        }
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                <td>@Html.DisplayFor(modelItem => item.Storage.StorageAdress)</td>
                <td>@item.ProduceDate</td>

                <td>
                    @foreach (Tax tax in ViewBag.Tax)
                    {
                        @foreach (Bale bale in ViewBag.Bale)
                        {

                            if (tax.MaterialId == bale.MaterialId && bale.BaleId==item.BaleId)
                            {
                                @tax.TaxValue
                                <slot>коп. </slot>   
                                @*Если ИД материала в Тарифах совпадает с ИД материала в ПРОИЗВЕДЕННОМ тюке - пишем ставку этого тарифа*@
                            }
                        }
                    }
                </td>

                <td>
                    @*  @foreach (Tax tax in ViewBag.Tax)
                {
                if (tax.TaxId == item.Tax.TaxId)
                {
                @(tax.TaxValue * item.Weight / 100)
                ;
                <slot>р. </slot>
                }
                }*@
                </td>

                <td>

                    <a asp-action="Edit" asp-route-id="@item.ProductionId"><img src="/ico/edit2.png" class="icon" /></a>
                    <a asp-action="Delete" asp-route-id="@item.ProductionId"><img src="/ico/delete2.png" class="icon" /></a>
                    @*     <a asp-action="Details" asp-route-id="@item.ProductionId"><img src="/ico/info1.png" class="icon"/></a>*@
                </td>

            </tr>
        }
    </tbody>
</table>

<style>

    table {
        width: 40%;
        text-align: center;
    }

        table td, tr {
            vertical-align: middle;
        }

    img {
        height: calc(15px + 1vw);
        margin-right: 5px;
        width: auto;
    }

</style>