@model IEnumerable<VtorP.Models.Material>

@{
    ViewData["Title"] = "Виды сырья";
}

<h2>Виды сырья</h2>

<p class="text-center">
    <b> Добавить</b>
    <a asp-action="Create"><img src="/ico/add1.png" class="icon" /></a>
</p>
<table class="table text-center table-header">
    <thead>
        <tr class="table-header">
            <th>
                @Html.DisplayNameFor(model => model.MaterialNameStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialNameFinish)
            </th>
            <th> Действия с видом сырья</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialNameStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialNameFinish)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaterialId"><img src="/ico/edit2.png" class="icon" /></a>
                    <a asp-action="Details" asp-route-id="@item.MaterialId"><img src="/ico/info1.png" class="icon" /></a>
                    <a asp-action="Delete" asp-route-id="@item.MaterialId"><img src="/ico/delete2.png" class="icon" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>

    img {
        height: calc(15px + 1vw);
        margin-right: 5px;
        width: auto;
    }

    .table {
        width: 40%;
    }

</style>